---
import { api } from "../../convex/_generated/api";
import convex from "../lib/convex";

// Get all galleries without their layouts
const galleries = await convex.query(api.galleries.listWithoutLayouts, {});
---

<div class="grid grid-cols-3 gap-2 md:gap-4 mx-8 md:mx-12">
  {
    galleries.map((gallery) => (
      <a
        href={`/gallery/${gallery.slug}`}
        class="group transition-all block relative overflow-hidden aspect-auto"
      >
        <div class="w-full h-full bg-gray-200">
          <div class="w-full h-full flex items-center justify-center">
            <span class="text-gray-500">{gallery.title}</span>
          </div>
        </div>
        <div class="absolute inset-0 flex items-end justify-center m-4 text-center">
          <span class="text-white font-bebas-neue text-lg leading-[1.1] md:text-3xl _mix-blend-difference">
            {gallery.title}
          </span>
        </div>
      </a>
    ))
  }
</div>
