---
import AnimatedImage from "./AnimatedImage.astro";

interface Props {
  image?: string;
  imageAlt?: string;
  text?: string;
  link?: string;
  class?: string;
}

const {
  image,
  imageAlt = "",
  text = "",
  link,
  class: className = "",
} = Astro.props;

const Wrapper = link ? "a" : "div";
const wrapperProps = link ? { href: link } : {};
---

<Wrapper
  {...wrapperProps}
  class:list={[
    "h-full w-full overflow-hidden",
    link ? "cursor-pointer" : "",
    className,
  ]}
>
  {image && <AnimatedImage src={image as any} alt={imageAlt} />}
  {
    text && (
      <div
        class:list={[
          "tile-content",
          "mx-auto",
          "p-2 md:p-4 z-100 absolute bottom-0 left-0 right-0 text-white ",
          image ? "" : "h-full",
        ]}
      >
        <div class="flex items-center justify-center">
          <p class="inline-block bg-black/20 backdrop-blur-xs px-0.5 md:px-4 py-0 rounded text-center text-sm md:text-3xl font-karla">{text}</p>
        </div>
      </div>
    )
  }
</Wrapper>
