---

import AnimatedImage from './AnimatedImage.astro';

interface Props {
  image?: string;
  imageAlt?: string;
  text?: string;
  link?: string;
  class?: string;
}

const {
  image,
  imageAlt = '',
  text = '',
  link,
  class: className = '',
} = Astro.props;

const Wrapper = link ? 'a' : 'div';
const wrapperProps = link ? { href: link } : {};

---

<Wrapper
  {...wrapperProps}
  class:list={[
    'h-full w-full overflow-hidden',
    link ? 'cursor-pointer' : '',
    className
  ]}
>
  {image && (
    <AnimatedImage src={image} alt={imageAlt} />
  )}
  {text && (
    <div class:list={[
      'tile-content',
      'p-4 absolute bottom-0 left-0 right-0 text-center text-lg md:text-2xl font-karla',
      image ? '' : 'h-full',
    ]}>
      {text}
    </div>
  )}
  
</Wrapper>
